streamlit
langchain
langchain-community
langchain-google-genai
PyPDF2
faiss-cpu
sentence-transformers
transformers


streamlit
langchain
langchain-google-genai
duckduckgo-search
google-generativeai


streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
faiss-cpu
transformers
huggingface-hub
pypdf

