streamlit
langchain
langchain-community
langchain-google-genai
PyPDF2
faiss-cpu
sentence-transformers
transformers


streamlit
langchain
langchain-google-genai
duckduckgo-search
google-generativeai


streamlit
langchain>=0.1.16
langchain-core>=0.1.44
langchain-community>=0.0.32
langchain-google-genai>=0.0.9
faiss-cpu
transformers
huggingface-hub
pypdf

